<br>
<div class="row">
  <!-- Income vs Expenses (Monthly) -->
  <div class="col-12 col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Income vs Expenses (Monthly)</h5>
        <br>
        <br>
        <svg id="trendChart" width="100%" height="400"></svg>
      </div>
    </div>
  </div>

  <!-- Category-wise Expenses -->
  <div class="col-12 col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Category-wise Expenses</h5>
        <svg id="categoryPie" width="100%" height="400"></svg>
      </div>
    </div>
  </div>
</div>
